<!doctype html>
    <title>Alfred VA</title>
    {% if path %}
        <img src="{{ path }}">

        {% if company or number or action %}
            <h1>I will {{action}} a {{number}} {{company}} stocks !</h1>
        {% endif %}
        <br>
        {% if articles0 %}
            <h1>May I advice Mr. to read this article first: </h1>
            <a href={{links0}}>{{ articles0 }}</a>
        {% endif %}
        <br>
        {% if articles1 %}
            <a href={{links1}}>{{ articles1 }}</a>
        {% endif %}
        <br>
        {% if articles2 %}
            <a href={{links2}}>{{ articles2 }}</a>
        {% endif %}
        <br>
        {% if price %}
            <h1>Given my calculation, the price will: {{ price }}</h1>
        {% endif %}

    {% endif %}
